*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: #f4f4f4;
    padding: 30px;
}

.container{
    width: 90%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.top-bar{
    margin-bottom: 20px;
}

button{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#openModalBtn{
    background: #007bff;
    color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th{
    background: #007bff;
    color: white;
}

.edit-btn{
    background: orange;
    color: white;
}

.delete-btn{
    background: red;
    color: white;
}

.statistics{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

#message{
    margin-bottom: 15px;
    color: green;
}

.modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);

    justify-content: center;
    align-items: center;
}

.modal-content{
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content input{
    padding: 10px;
}

#submitBtn{
    background: green;
    color: white;
}
d